<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DZoms</title>
<meta name="author" content="duizhang">
<link rel="stylesheet" href="/static/css/base.css">
<script src="/static/script/jquery-1.8.2.min.js"></script>
<script src="/static/script/businessMonitoring.js"></script>
<script>
$(function(){
	$('header nav ul > li > a').click(function(){
		$(this).next().toggle();
	});
})
</script>
</head>

<body>
<div class="container" style="padding:0;">
    <div class="mainContent">
        <hgroup>
		<h1>业务质量监控</h1>
        </hgroup>
        <div class="tabBlock blkHide">tabBlock</div>
        <fieldset class="blkPadding">
        	<ul>
                <li class="form">
                	<label><span>业务名称</span></label><input type="text" name="title" style="width:200px;">
                </li>
                <li class="form">
                	<label><span>监控链接</span></label><input type="url" name="url" style="width:600px;">
                </li>
                <li class="form">
                	<label><span>检测规则</span></label>
					<input type="checkbox" name="code200" value="1"><label>200状态码</label>
					<label>自定义返回内容</label><input type="text" name="returnMsg" style="width:100px;">
                </li>
            </ul>
            
            <p class="blkFormBtn">
            <em class="error"></em>
            <button name="commit">提交</button><button class="less">取消</button>
            </p>
        </fieldset>
        <output class="blkPadding">
		<button name="initcache">初始化缓存</button><br /><br />
            <table>
                <caption></caption>
                <thead>
                    <tr>
                        <th>业务名称</th>
                        <th>URL</th>
                        <th>检测规则</th>
                        <th>时间</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
					{%for b in business%}
					<tr class="business_{{b.id}}">
						<td>{{b.title}}</td>
						<td>{{b.url}}</td>
						<td>{%ifequal b.code200 1%}200状态码{%else%}{{b.returnMsg}}{%endifequal%}</td>
						<td>{{b.pubDate}}</td>
						<td><a href="javascript:void(0);" class="createRRD" rel="{{b.id}}">创建RRD</a>&nbsp;&nbsp;<a href="javascript:void(0);" class="delBusiness" rel="{{b.id}}">删除</a></td>
					</tr>
					{%endfor%}
                </tbody>
            </table>
        </output>
    </div>
</div>
</body>
</html>
