<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>DZoms</title>
<meta name="author" content="duizhang">
<link rel="stylesheet" href="/static/css/base.css">
<script src="/static/script/jquery-1.8.2.min.js"></script>
<script src="/static/script/host.js"></script>
<script>
$(function(){
	$('header nav ul > li > a').click(function(){
		$(this).next().toggle();
	});
})
</script>
</head>

<body>
<div class="container" style="padding:0;">
    <div class="mainContent">
        <hgroup>
            <h1>主机分类</h1>
        </hgroup>
        <div class="tabBlock blkHide">管理模块</div>
        <fieldset class="blkPadding">
        	<ul>
            	<li class="form">
				<label><span>分类名称</span></label><input type="text" name="category">
				<label><span>唯一标示</span></label><input type="text" name="cname">

                </li>
            </ul>
            
            <p class="blkFormBtn">
            <em class="error"></em>
            <button name="commit">添加</button><button class="less" name="reset">取消</button>
            </p>
        </fieldset>
        <output class="blkPadding">
        	<div class="outDesc">
            	<mark>
                <strong>15-25条记录 / 共3000条记录</strong>
                <button title="上页">&laquo;</button><button title="下页">&raquo;</button>
                </mark>
            </div>
            <table>
                <caption></caption>
                <thead>
                    <tr>
                        <th>分类名称</th>
                        <th>唯一标示</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
					{%for c in category%}
					<tr id="category_{{c.id}}">
						<td><font class="editcategory" name="{{c.id}}">{{c.title}}</font></td>
						<td><font class="editcname" name="{{c.id}}">{{c.cname}}</font></td>
						<td><a class="del"ref="{{c.id}}" href="javascript:void(0);">删除</a></td>
					</tr>
					{%endfor%}
                </tbody>
            </table>
            <div class="outDesc" style="padding-top:5px;">
            	<mark>
                <strong>15-25条记录 / 共3000条记录</strong>
                <button title="上页">&laquo;</button><button title="下页">&raquo;</button>
                 </mark>
            </div>
        </output>
    </div>
</div>
</body>
</html>
